<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
        	<p>TODO Het programma voor 2023 is nog in opbouw. We krijgen internationale keynote speakers en meerdere tracks waaronder één Engelstalige track. <br />
                Daarnaast hebben we nog een paar leuke side-shows, die niet op het programma staan. Maar je favoriets QGIS-boekauteur is er vast ook deze dag! <br /><br />
                Van links naar rechts staan de drie tracks in het programma. Ze hebben een licht thematische indeling: links de track met voornamelijk QGIS-gerelateerde zaken. D
                eze track is voor het overgrote deel in het Nederlands. In het midden de Tech & Science, grotendeels Engelstalig. En aan de rechterkant de Specials, de zaken die alle
                kanten uit kunnen schieten. Heel veel plezier met dit programma!<br /><br />
			Here you'll find the programme for the conference. Both keynotes will be in English, just as the major part of the Tech & Science track (the middle track in the schedule). Enjoy your day at FOSS4GNL!
			</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
