<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
            <p>Dit jaar zijn er bij de FOSS4GNL ook weer pre-conference workshops: 
            op woensdag 13 september worden er verschillende workshops aangeboden door de experts.
                Groot voordeel voor mensen die van ver komen: zo kan je rustig de dag voor de conferentie al naar het oosten afreizen... de workshops starten direct na lunchtijd.</p>
            
            <p>Deze workshops gaan een heel stuk dieper dan de talks op de conferentie zelf: 
            een onderwerp wordt goed uitgediept en, zoals gezegd, je leert voor een groot deel 
            door het hands-on te doen. Het zijn echt professionele trainingen van een halve dag.</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
