<!-- Description Section -->
<section id="description" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-lg-8 col-md-10 col-md-offset-1">
        	<p>Het programma voor 2023 staat als een huis! Met een heel breed én diepgaand aanbod aan presentaties hebben de sprekers zichzelf overtroffen.<br />
            Heel veel voorpret met dit programma!<br /><br />
			Here you'll find the programme for the conference. The largest part of the talks will be in Dutch, but there's always a decent programme for those who don't. Enjoy your day at FOSS4GNL!
			</p>
        </div>
    </div>
</section>
<!-- End Description Section -->
