    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>Op naar Middelburg! Op 13 en 14 september 2023 is er weer een FOSS4GNL. De zalen zijn gereserveerd, en wát voor zalen! We zitten in het hart van de stad, met de Koorkerk als plenaire ruimte, de Wandelkerk als ontmoeting-, lunch- en sponsorruimte, en de abdij en aangrenzende ruimtes voor break-out sessies en workshops. En uiteraard de Abdijkelder (café!) voor de borrel. Maar de meest bijzondere ruimte is de Kapittelzaal. Dit is de ruimte waar de Four Freedoms Awards (https://www.fourfreedoms.nl/) om het jaar worden uitgereikt. Daar zijn, en zien wie die eer in die ruimte is toegekomen is een <i>humbling experience</i>. En ook een bijzonder mooi passende: in Open Source kennen we onze eigen "Four Freedoms".</p>  
		
			<p> Call for Presentatie - Spekers kunnen zich nu aanmelden. </p>
		
			<p>Bij de FOSS4GNL hebben we nooit een echt thema gehad: er zijn zoveel OSGeo projecten en toepassingen daarvan, dat dat altijd een beetje raar zou zijn. Maar... er tekent zich wel een rode draad af. Het gaat dit jaar in de voorbereiding met name over samenwerking. Tussen organisaties in de keten, tussen teams, maar vooral ook steeds daarbinnen. We zien dat dit, met de enorme uitdagingen waar we maatschappelijk voor staan, nog steeds elk jaar belangrijker wordt.</p>
		
  		    <p>De conferentie zelf vindt plaats op 14 september. De dag ervoor, op 13 september, is een middag met workshops georganiseerd.</p>

       		<p>De keuze voor workshops in de middag is overigens bewust: zo kan iedereen er op tijd zijn, ook de mensen voor wie Middelburg wat ver reizen is. Je kan dan ook overnachten in Middelburg, zodat je de 14e ook de conferentie bij kan wonen. Het zijn wel nadrukkelijk twee verschillende activiteiten, met verschillende tickets. </p>

			<p>The open-source geo-information community would like to welcome you in Middelburg on the 14th of September for the FOSS4GNL 2023!</p>	
			<p>And there is more. On the 13th in the afternoon there will be workshops, focused on guiding you into the world of open source technology and data. </p>

        </div>
    </div>
