    <div class="content-wrapper text-left">
        <div class="col-lg-6 col-lg-offset-3">
            <p>TODO: Op naar Middelburg! Op 13 en 14 september 2023 is er weer een FOSS4GNL. Zoals het er nu voor staat (geen beperkingen meer voor het onderwijs dit jaar,
                behalve 75 mensen per zaal) kunnen we een mooie on-site conferentie tegemoet zien. En we hebben een prachtig en divers programma voor je,
                met onder andere 2 keynotes en 24 presentaties verdeeld over 3 tracks.

            <p>Naast de conferentie op de 14e is er op de 13e ook een middag met workshops georganiseerd.</p>

            <p>De keuze voor workshops in de middag is overigens bewust: zo kan iedereen er op tijd zijn,
                ook de mensen voor wie Middelburg wat ver reizen is. Je kan dan ook overnachten in Middelburg,
                zodat je de 14e ook de conferentie bij kan wonen. Het zijn wel nadrukkelijk twee verschillende activiteiten, met verschillende tickets. </p>

			<p>The open-source geo-information community would like to welcome you in Middelburg on the 14th of September for the FOSS4GNL 2023!
                With restrictions lifted we can look forward to a great on-site conference with an exciting and very diverse program,
                including three tracks, 24 talks, 2 keynotes. Check out the program to find your favorite talks!</p>
			
			<p>And there is more. On the 13th in the afternoon there will be 4 workshops,
                focused on guiding you into the world of open source technology and data.
                To order tickets for the main conference and individual workshops (separate tickets), click on the ticket button above.</p>

        </div>
    </div>
